[Desktop Entry]
Type=Application
Name=Cube Conflict
Comment=FPS game involving smileys
Icon=io.github.Big_Onche.Cube-Conflict
Exec=cube-conflict
Categories=Game;ActionGame;Shooter;
Keywords=fps;action;multiplayer;play;mapeditor;
